body {
  font-family: 'Istok Web', sans-serif;
  font-size:15px;
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0.2em;
}

a:hover {
  background-color:#c0272c;
}

h1 {
  font-family: 'Philosopher', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 32px;
}

.header {
  padding-top:10px;
  padding-bottom:10px;
  background-color: black;
  color:white;
  overflow:auto;
}

.headerMenu {
  text-align: right;
  max-width: 1040px;
  margin-left: auto;
  margin-right:auto;
}

.headerItem {
  display:inline-block;
  margin-right:10px;
}

.headerItemText {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 20px;
  vertical-align: middle;
}

button.headerItemText {

}

.header .searchBox {
  border-radius: 2px;
  border-width:thin;
  background-color:#444444;
  margin-left:20px;
  margin-right: 10px;
  vertical-align: middle;
  color:white;
  font-size:14px;
  line-height: 20px;
  width:155px;
}

.middlePanel {
  width: 1080px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:42px;
}
.middleHeader {
  background-image:url('images/texture-top.png');
  background-repeat: no-repeat;
  background-position:bottom center;
  padding-bottom:72px;
}

.orgZineLogo {
  display:inline-block;
  height:71px;
  width:391px;
  background-image:url('images/top-orgzinelogo.png');
}

.orgZineLogo span {
  visibility:hidden;
}

.orgZineLogo:hover {
  background-image:url('images/top-orgzinelogo-over.png');
}

.orgLogo {
  float:right;
  margin-top:10px;
  margin-right:65px;
}

.menu {
  text-align: center;
  margin-right:65px;
}

.menuItem {
  display:inline-block;
  font-family:'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-left:18px;
  margin-right:18px;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:1px;
}

.menuItem a {
  color:black;
}

.menuItem.selected a:hover {
  background-color:white;
}

.menuItem.selected a {
  color: #c0272c;
}

.menuItem.selected a,
.menuItem a:hover {
  border-bottom: 5px solid #c0272c;
}


.main {
  width:100%;
  position:relative;
  overflow:auto;
}

.col1 {
  float:left;
  width:555px;
  position:relative;
  left:480px;
  padding-bottom:20px;
  background-color:white;
}

.col2 {
  float:left;
  width:170px;
  position:relative;
  left:530px;
  color:white;
  padding-bottom:20px;
}

.col3 {
  padding-bottom:20px;
  float:left;
  width:205px;
  position:relative;
  left:575px;
  font-family: 'Philosopher', sans-serif;
}

.container1 {
  float:left;
  width:100%;
  position:relative;
  right:215px;
  background-image: url("images/texture-left.png");
  background-position: right top;
  background-repeat: repeat-y;
  background-color:white;
}

.container2 {
  float:left;
  width:100%;
  background-color:black;
  right:243px;
  position:relative;
  background-image: url("images/texture-right.png");
  background-position: right top;
  background-repeat: repeat-y;
}

.container3 {
  float:left;
  width:100%;
  overflow:hidden;
  position:relative;
}



.mainArticle {
  margin-bottom: 30px;
}

.col1 a {
  color:black;
  font-weight:bold;
}

.mainArticle h3 {
  font-family: 'Philosopher', sans-serif;
  font-size: 22px;
  font-weight: 300;
}

.articleImage {
  display:inline-block;
  margin: 10px auto 25px;
  border:thin solid black;
  position:relative;
}

.articleImage img {
  display:block;
}

.articleImage p.quote {
  width:100%;
  position:absolute;
  bottom: 10px;
  height:40px;
  background: rgba(255, 255, 255, 0.5);
  line-height: 40px;
  text-align:center;
  font-family: 'Philosopher', sans-serif;
  font-style:italic;
  font-size: 20px;
}

.mainArticle p {
  text-align: justify;
  margin-top:15px;
  margin-bottom:15px;
}
.mainArticle .callout {
  float: left;
  width: 47%;
  font-family: 'Philosopher', sans-serif;
  font-size: 26px;
  font-weight: 100;
  color: #999999;
  font-style: italic;
  text-align: left;
  line-height: 140%;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mainArticle > p:last-child:after {
  content: url('images/endmark.png');
  height: 12px;
  display: inline-block;
  margin-left: -5px;
}

.col1 .section {
  margin-bottom:20px;
}

.col1 .advertTitle {
  font-family: 'Philosopher', sans-serif;
}

.advertContainer {
  float:left;
  left:50%;
  position:relative;
  margin-top:10px;
}

.advertContainer img {
  float:left;
  right:50%;
  position:relative;
}

.horizontalTagList {
  margin-right: 20px;
  margin-left: 20px;
  text-align:center;
}

.horizontalTagList li {
  display:inline-block;
  background-color:black;
  padding:5px;
  margin-left:5px;
  margin-right:5px;
  font-family: 'Philosopher', sans-serif;
  font-size:18px;
  margin-top:5px;
}

.horizontalTagList li a {
  color:white;
  text-decoration: none;
}

.horizontalTagList li:hover {
  background-color: #c0272c;
}

.authorInfo {
  font-family: 'Philosopher', sans-serif;
}

.authorImage {
  height:150px;
  width:150px;
  background-color:white;
  padding:5px;
  margin-top:20px;
  margin-bottom:25px;
}

.authorName {
  font-style: italic;
}

.zineLetters {
  background-image: url('images/column-zine.jpg');
  height:131px;
  width:160px;
  background-position:top right;
  background-repeat: no-repeat;
  margin-top:5px;
}

.col2 a {
  color:white;
}

.col2 h2,
.col3 h2 {
  color: #c0272c;
}

.col2 h2 {
  margin-top:15px;
  margin-bottom:5px;
}

.col2 .section {
  margin-bottom: 50px;
}

.col2 .latestArticle {
  font-family: 'Istok Web', sans-serif;
  margin-top:20px;
}

.col2 .articleTitle {
  font-weight: 700;
}

.col2 .tagList {
  font-size:20px;
}

.tag {
  font-family: 'Philosopher', sans-serif;
  text-align: center;
  margin-top:5px;
  list-style-type: none;
}

.tag a {
  text-decoration: none;
  color: white;
}


.tag.tiny {
  font-size: 60%;
}

.tag.small {
  font-size: 80%;
}

.tag.big {
  font-size:120%;
}

.tag.massive {
  font-size:140%;
}

.featuredArticle h3 {
  font-family: 'Philosopher', sans-serif;
  font-size: 24px;
}

.featuredArticle h3 a:hover {
  background-color:inherit;
  color:#c0272c;
}

.featuredArticleThumb {
  margin-top:15px;
  margin-bottom:15px;
}

.featuredArticle p {
  font-size: 15px;
}


.col3 h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

.socialNetworkLinks {
  margin-bottom:15px;
}

.socialNetworkLinks h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 5px;
}

.aboutOrgBlurb {
  font-weight: 700;
  font-size: 14px;
  color: #999999
}

.aboutOrgBlurb p {
  margin-top:20px;
}

.orgEvents h2 {
  font-size: 30px;
}

.event h4 {
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

.event {
  margin-bottom:15px;
}

.findOutMore h2 {
  font-size:26px;
}

.footer {
  background-color:black;
  position:relative;
  z-index: 1;
}

.cogs {
  position:absolute;
  top:-240px;
  right:1270px;
  left:0;
  max-width:291px;
  height:300px;
  background-image:url('images/cogs.png');
  background-position: right top;
}

.footerDecoration {
  min-width:1080px;
  background-image:url("images/texture-bottom.png");
  background-position:center top;
  margin-left:auto;
  margin-right:auto;
  height:98px;
  position:relative;
  top:-98px;
  z-index:-1;
  margin-bottom:-98px;
}

.footerContent {
  margin-left:auto;
  margin-right:auto;
  width:1080px;
  color:white;
  position:relative;
}

.footerContent h2 {
  font-family: 'Philosopher', sans-serif;
  font-size: 25px;
  margin-bottom:20px;
}

.footerContent h3 {
  font-family: 'Special Elite', cursive;
  font-size: 25px;
  margin-bottom:5px;
  margin-top: 25px;
}

.contactEmail {
  font-family: 'Philosopher', sans-serif;
}

.footerContent a {
  font-weight: bold;
  color:white;
  text-decoration: none;
}

.footerContent p {
  margin-bottom:1em;
}

.footerHead {
  height:50px;
  vertical-align:middle;
}

a.backToTopLink {
  color:white;
  font-weight: bold;
  font-family: 'Philosopher', sans-serif;
  font-size:16px;
  line-height:30px;
  margin-left:140px;
}

.backToTopLink:before {
  display:inline-block;
  height:30px;
  margin-right:10px;
  content: url('images/backtotop-arrow.png');
}

.backToTopLink:hover:before {
  content: url('images/backtotop-arrow-over.png');
}

.bottomOrgZineLogo {
  float:right;
}

.footerColumnContainer {
  position:relative;
  height:255px;
  padding-bottom: 20px;
  padding-top:20px;
}

.footerCol {
  float:left;
  padding-left:30px;
  padding-right:30px;
  height:100%;
  position:relative;
}

.footerCol1 {
  width: 230px;
}

.footerCol2 {
  width: 400px;
}

.footerCol3 {
  width: 260px;
}

.footerCol1:after,
.footerCol2:after{
  content:'';
  position:absolute;
  top:10px;
  right:0;
  bottom:35px;
  display:block;
  z-index: -1;
  border-right: 1px solid #999999;
}

.footerContent .searchButton {
  background-color:black;
  border-radius: 5px;
  color:white;
  padding: 5px;
  font-size: 16px;
  font-family: 'Philosopher', sans-serif;
}

.footerContent .searchBox {
  font-size:16px;
  margin-right:10px;
  width:115px;
}

.ccInfo img {
  vertical-align: middle;
  height:30px;
  margin-left:20px;
}

.footerCol3 .section:first-child {
  border-bottom:thin solid white;
}

.footerCol3 .section {
  padding-left:10px;
  padding-top:20px;
  padding-bottom:20px;
}

.disclaimer {
  font-size:13px;
}

.twtr-tweet-text {
  font-size: 10px;
}

.twtr-widget a {
  padding:0;
}

.twtr-widget a:hover {
  background-color:inherit;
}
