body {
  font-family: 'Istok Web', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  padding-top:10px;
  padding-bottom:10px;
  background-color: black;
  color:white;
  overflow:auto;
}

.headerMenu {
  text-align: right;
  max-width: 1040px;
  margin-left: auto;
  margin-right:auto;
}

.headerItem {
  display:inline-block;
  margin-right:10px;
}

.headerItemText {
  font-family: 'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 20px;
  vertical-align: middle;
}

.searchBox {
  border-radius: 2px;
  border-width:thin;
  background-color:#444444;
  margin-left:20px;
  margin-right: 10px;
  vertical-align: middle;
  color:white;
  font-size:14px;
  line-height: 20px;
  width:155px;
}

.middlePanel {
  width: 1080px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:42px;
}
.middleHeader {
  background-image:url('images/texture-top.png');
  background-repeat: no-repeat;
  background-position:bottom center;
  padding-bottom:72px;
}

.orgLogo {
  float:right;
  margin-top:10px;
  margin-right:65px;
}

.menu {
  text-align: center;
  margin-right:65px;
}

.menuItem {
  display:inline-block;
  font-family:'Philosopher', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-left:18px;
  margin-right:18px;
  padding-left:4px;
  padding-right:4px;
  padding-bottom:1px;
}

.menuSelected {
  color: #c0272c;
  border-bottom: 5px solid #c0272c;
}



.main {
  width:100%;
  position:relative;
  overflow:auto;
  z-index:-2;
}

.col1 {
  float:left;
  width:555px;
  position:relative;
  left:480px;
  padding-bottom:20px;
  background-color:white;
}

.col2 {
  float:left;
  width:170px;
  position:relative;
  left:530px;
  color:white;
  padding-bottom:20px;
}

.col3 {
  padding-bottom:20px;
  float:left;
  width:205px;
  position:relative;
  left:575px;
  font-family: 'Philosopher', sans-serif;
}

.container1 {
  float:left;
  width:100%;
  position:relative;
  right:215px;
  background-image: url("images/texture-left.png");
  background-position: right top;
  background-repeat: repeat-y;
  background-color:white;
}

.container2 {
  float:left;
  width:100%;
  background-color:black;
  right:243px;
  position:relative;
  background-image: url("images/texture-right.png");
  background-position: right top;
  background-repeat: repeat-y;
}

.container3 {
  float:left;
  width:100%;
  overflow:hidden;
  position:relative;
}

.authorInfo {
  font-family: 'Philosopher', sans-serif;
}

.authorName {
  font-style: italic;
}

.col2 h2 {
  font-family: 'Special Elite', cursive;
  font-size: 36px;
  color: #c0272c;
  font-weight:normal;
}

.col2 .latestArticle {
  font-family: 'Istok Web', sans-serif;
}

.col2 .articleTitle {
  font-weight: 700;
}

.tag {
  font-family: 'Philosopher', sans-serif;
}

.col3 h2 {
  font-family: 'Special Elite', cursive;
  font-size:36px;
  color: #c0272c;
  margin-top: 50px;
  margin-bottom: 15px;
}

.socialNetworkLinks {
  margin-bottom:15px;
}

.socialNetworkLinks h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 5px;
}

.aboutOrgBlurb {
  font-weight: 700;
  font-size: 14px;
  color: #999999
}

.aboutOrgBlurb p {
  margin-top:20px;
}

.orgEvents h2 {
  font-size: 30px;
}

.event h4 {
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

.event {
  margin-bottom:15px;
}

.findOutMore h2 {
  font-size:26px;
}

.footer {
  background-color:black;
  height:200px;
  position:relative;
}

.cogs {
  position:absolute;
  top:-240px;
  right:1270px;
  left:0;
  max-width:291px;
  height:300px;
  background-image:url('images/cogs.png');
  background-position: right top;
}

.footerDecoration {
  min-width:1080px;
  background-image:url("images/texture-bottom.png");
  background-position:center top;
  margin-left:auto;
  margin-right:auto;
  height:98px;
  position:relative;
  top:-98px;
  z-index:-1;
}

.twtr-tweet-text {
  font-size: 10px;
}
